# Environment Type: development, production
ENV_TYPE=development

# Custom Login Configurations
PASSWORD_SALT=your_password_salt_here
TOKEN_SALT=your_token_salt_here

# PostgreSQL Configurations
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=hackathon_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

# Database Configurations
REPORT_DB=hackathon-platform-report
COMBINE_DB=hackathon-platform-combineDb
CHAT_DB=hackathon-platform-chats

# Redis Configurations
REDIS_HOST=localhost
REDIS_PORT=6379

# S3 Configurations
S3_ACCESS_KEY=your_s3_access_key
S3_SECRET_KEY=your_s3_secret_key
S3_BUCKET=your_s3_bucket_name